.tooltip {
    position: absolute;
    padding: 6px;
    font-size: 11px;
    background: white;
    z-index: 10;
    border: 0;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
